.kutu1{
    width: 70px;
    height: 70px;
    background-color: pink;
    top: 100px;
    left: 300px;
    position: relative;/*position degiştirilmediği
     surece default deger alır*/
    z-index: 2;

}
.kutu2{
    width: 70px;
    height: 70px;
    background-color: blue;
    
    z-index: 11;
}